@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* background-image: url(https://img.freepik.com/free-vector/mother-child-appointment-hospital-2d-vector-isolated-illustration-pediatric-office-visit-flat-characters-cartoon-background-well-baby-checkup-visit-primary-care-doctor-colourful-scene_151150-5662.jpg?size=626&ext=jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.title {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  color: rgba(0, 0, 255, 0.418);
  text-align: center;
}
.content-left {
  flex: 1;
  padding: 10px;
}


#form {
  display: flex;
  flex-direction: column;
}
.lab {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(13, 144, 231);
    padding: 10px;
}
input {
    padding: 9px;
    border: 2px solid rgba(0, 0, 255, 0.418);
    border-radius: 10px;
    outline: none;
}
#btn {
    cursor: pointer;
    margin: 10px;;
    border-radius: 10px;
    background-color: rgb(54, 54, 77);
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    border: 2px solid rgba(0, 0, 255, 0.418);
}
#btn:hover {
    color: red;
    font-weight: bold;
}
.content-right {
  flex: 1;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
.item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 255, 0.418);
    font-size: 20px;
    margin: 10px;
}
.fa-trash{
    cursor: pointer;
}
.fa-trash:hover {
  color: red;
}
